body {
  background: linear-gradient(45deg, #ff758c, #ff7eb3);
  font-family: Arial;
  text-align: center;
  color: white;
  padding: 40px;
  overflow-x: hidden;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.mensagem {
  font-size: 22px;
  max-width: 600px;
  margin: auto;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
  max-width: 700px;
  margin: 40px auto;
  padding: 0 15px;
}

.galeria img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.galeria img:hover {
  transform: scale(1.1);
}

button {
  margin-top: 40px;
  padding: 15px 35px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background: white;
  color: #ff4d6d;
  cursor: pointer;
}

#surpresa {
  font-size: 26px;
  margin-top: 20px;
}

/* corações */

.coracao {
  position: fixed;
  top: -10px;
  font-size: 24px;
  animation: cair linear forwards;
}

@keyframes cair {
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}
